@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  max-width: 100%;
  font-size: 100%;
}

html, body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 27px;
  color: #5A5F73;
  font-family: "Inter", sans-serif;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}

/* #####################################
*           GLOBAL STYLE
* ##################################### 
*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 24px;
  color: #282D41;
}
@media only screen and (max-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
  }
}

h1 {
  font-size: 56px;
  line-height: 67px;
}
@media only screen and (max-width: 102xpx) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 41px;
  }
}
@media only screen and (max-width: 375px) {
  h1 {
    font-size: 28px;
    line-height: 38px;
  }
}

h2 {
  font-size: 48px;
  line-height: 57px;
}
@media only screen and (max-width: 102xpx) {
  h2 {
    font-size: 42px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 41px;
  }
}
@media only screen and (max-width: 375px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }
}

h3 {
  font-size: 40px;
  line-height: 48px;
}
@media only screen and (max-width: 102xpx) {
  h3 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 28px;
    line-height: 38px;
  }
}
@media only screen and (max-width: 375px) {
  h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

h5 {
  font-size: 24px;
  line-height: 33px;
}
@media only screen and (max-width: 768px) {
  h5 {
    font-size: 22px;
    line-height: 26px;
  }
}

h6 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
}

p {
  margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  p {
    margin-bottom: 15px;
  }
}

a {
  color: #32C0CC;
}

img, svg {
  width: 100%;
  height: auto;
  display: block;
}

.section-spacing {
  padding: 100px 0;
}
@media only screen and (max-width: 102xpx) {
  .section-spacing {
    padding: 70px 0;
  }
}
@media only screen and (max-width: 768px) {
  .section-spacing {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 575px) {
  .section-spacing {
    padding: 35px 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1360px;
  padding: 0 25px;
}

.transition, .btn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 19px 40px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background: #32C0CC;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.btn img {
  max-width: 13px;
}
.btn:hover, .btn:focus {
  background: #282D41;
}

.bg-shadow {
  position: relative;
  overflow-x: clip;
}
.bg-shadow::after {
  position: absolute;
  content: "";
  background-image: linear-gradient(259deg, rgba(138, 226, 234, 0.2) 13.81%, rgba(138, 226, 234, 0.2) 35.03%, rgba(138, 226, 234, 0.22) 56.67%, rgba(138, 226, 234, 0.2) 87.34%);
  width: 100%;
  height: 80%;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-filter: blur(70px);
          filter: blur(70px);
}

.text-center {
  text-align: center;
}

.d-none {
  display: none !important;
}

.d-flex, .rejuve-image-box-wrapper .image-box.image-bottoom, .rejuve-image-box-wrapper .image-box.image-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center, .rejuve-iconbox-wrapper .icon-box .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-reverse, .rejuve-image-box-wrapper .image-box.image-bottoom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.d-block {
  display: block;
}

.d-grid, .responsiveGrid {
  display: -ms-grid;
  display: grid;
}

ul {
  margin-left: 25px;
}

.unstyle {
  padding: 0;
  margin: 0;
}
.unstyle li {
  list-style: none;
}

.p-relative {
  position: relative;
}

.radius, .rejuve-iconbox-wrapper .icon-box .icon, .rejuve-image-box-wrapper .image-box {
  border-radius: 12px;
}
@media only screen and (max-width: 768px) {
  .radius, .rejuve-iconbox-wrapper .icon-box .icon, .rejuve-image-box-wrapper .image-box {
    border-radius: 10px;
  }
}

.coverbg, .rejuve-hero {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.responsiveGrid {
  grid-gap: 32px;
}

.bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
}
.bars span {
  width: 100%;
  height: 4px;
  display: block;
  background-color: #32C0CC;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bars span:not(:last-child) {
  margin-bottom: 5px;
}
.bars.bar-active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 1px;
          transform-origin: 1px;
}
.bars.bar-active span:nth-child(2) {
  opacity: 0;
}
.bars.bar-active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 3px;
          transform-origin: 3px;
}

.section-title {
  max-width: 768px;
  margin: 0 auto;
}
.section-title.section-title-left {
  margin-left: 0;
}

.read-more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .read-more {
    padding: 8px 0;
  }
}
.read-more img {
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.read-more:hover img, .read-more:focus img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

/* #####################################
*           IMAGEBOX STYLE
* ##################################### 
*/
.rejuve-image-box-wrapper .image-box {
  overflow: hidden;
  background-color: #f5f5f5;
}
.rejuve-image-box-wrapper .image-box .image-box-content {
  padding: 40px;
}
@media only screen and (max-width: 1024px) {
  .rejuve-image-box-wrapper .image-box .image-box-content {
    padding: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .rejuve-image-box-wrapper .image-box .image-box-content {
    padding: 16px !important;
  }
  .rejuve-image-box-wrapper .image-box .image-box-content h3 {
    margin-bottom: 16px !important;
  }
}
.rejuve-image-box-wrapper .image-box .image-box-content .service-category {
  display: block;
  color: #282D41;
  padding-bottom: 8px;
}
.rejuve-image-box-wrapper .image-box.small-image-box .image-box-content {
  padding: 24px;
}
.rejuve-image-box-wrapper .image-box.small-image-box .image-box-content h3 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 768px) {
  .rejuve-image-box-wrapper .image-box.small-image-box .image-box-content h3 {
    font-size: 22px;
    line-height: 26px;
  }
}
.rejuve-image-box-wrapper .image-box.image-left .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media only screen and (min-width: 881px) {
  .rejuve-image-box-wrapper .image-box.image-left .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.rejuve-image-box-wrapper .image-box.image-left .image-box-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media only screen and (max-width: 768px) {
  .rejuve-image-box-wrapper .image-box.image-left {
    display: block;
  }
}
/* #####################################
*           ICONBOX STYLE
* ##################################### 
*/
@media only screen and (max-width: 575px) {
  .rejuve-iconbox-wrapper .icon-box {
    margin-bottom: 30px;
  }
}
.rejuve-iconbox-wrapper .icon-box .icon {
  background-color: currentColor;
  height: 64px;
  width: 64px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  margin-right: 24px;
  margin-bottom: 16px;
}
.rejuve-iconbox-wrapper .icon-box .icon img {
  width: auto;
}
.rejuve-iconbox-wrapper .icon-box .icon-box-content h5 {
  margin-bottom: 16px;
}
.rejuve-iconbox-wrapper .icon-box .icon-box-content p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (min-width: 575px) {
  .rejuve-iconbox-wrapper .icon-box.left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* #####################################
*           SPLIT LAYOUT
* ##################################### 
*/
.split-layout .responsiveGrid {
  margin-bottom: 40px;
}
.split-layout .left-content span {
  margin-bottom: 15px;
}

/* #####################################
*           CONTENT WITH MEDIA
* ##################################### 
*/
@media only screen and (min-width: 1280px) {
  .content-with-media .responsiveGrid {
    grid-gap: 80px;
  }
}

/* #####################################
*           HEADER STYLE
* ##################################### 
*/
.rejuve-header {
  padding: 16px 0;
  position: fixed;
  z-index: 1024;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid #C0C4CC;
}
.rejuve-header .header-menu-wrap .logo-wrapper {
  width: 140px;
}
.rejuve-header .header-menu-wrap .logo-wrapper .logo img {
  max-width: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rejuve-header .header-menu-wrap .main-header-menu li {
  list-style: none;
}
.rejuve-header .header-menu-wrap .main-header-menu li a {
  font-size: 16px;
  line-height: 24px;
  color: #282D41;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 5px;
}
.rejuve-header .header-menu-wrap .main-header-menu li a:hover, .rejuve-header .header-menu-wrap .main-header-menu li a:focus {
  color: #32C0CC;
}
.rejuve-header .header-menu-wrap .main-header-menu li:not(:last-child) {
  margin-right: 22px;
}
.rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li a {
  color: #32C0CC;
  font-weight: 600;
}
.rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li.book-now a {
  background-color: #32C0CC;
  padding: 8px 20px;
  border-radius: 5px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
}
.rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li.book-now a:hover, .rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li.book-now a:focus {
  background-color: #282D41;
}
.rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li:not(:last-child) {
  margin-right: 20px;
}
.rejuve-header.sticky {
  padding: 8px 0;
  -webkit-box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}
.rejuve-header.sticky .header-menu-wrap .logo-wrapper .logo img {
  max-width: 100px;
}

/* #####################################
*           HOME HERO STYLE
* ##################################### 
*/
.rejuve-hero {
  min-height: 771px;
}
.rejuve-hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rejuve-hero .hero-content {
  max-width: 620px;
  position: relative;
  z-index: 1;
}

/* #####################################
*           HOME SERVICE SECTION
* ##################################### 
*/
.services .section-title {
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  .services .section-title {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 880px) {
  .services .rejuve-image-box-wrapper {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "item-1 item-2" "item-1 item-3";
    grid-gap: 32px;
  }
  .services .rejuve-image-box-wrapper .image-box:nth-child(1) {
    grid-area: item-1;
  }
  .services .rejuve-image-box-wrapper .image-box:nth-child(2) {
    grid-area: item-2;
  }
  .services .rejuve-image-box-wrapper .image-box:nth-child(3) {
    grid-area: item-3;
  }
}
@media only screen and (min-width: 880px){
  .services .rejuve-image-box-wrapper .image-box:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .services .rejuve-image-box-wrapper .image-box:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .services .rejuve-image-box-wrapper .image-box:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

/* #####################################
*          SlIDER
* ##################################### 
*/
/* #####################################
*           About Us HERO STYLE
* ##################################### 
*/
.about-us-hero {
  padding: 80px 0 100px;
}
@media only screen and (max-width: 1024px) {
  .about-us-hero {
    padding: 60px 0 80px;
  }
}
@media only screen and (max-width: 575px) {
  .about-us-hero {
    padding: 40px 0 50px;
  }
}

/* #####################################
*       Book Appointment HERO STYLE
* ##################################### 
*/
.book-appointment-hero {
  padding: 120px 0 20px;
}
@media only screen and (max-width: 1024px) {
  .book-appointment-hero {
    padding: 80px 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  .book-appointment-hero {
    padding: 60px 0 20px;
  }
}
.book-appointment-hero .container {
  max-width: 735px;
}
.book-appointment-hero .container h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .book-appointment-hero .container h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

/* #####################################
*     Appontment-sectoin STYLE
* ##################################### 
*/
.appontment-sectoin .data-box {
  margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  .appontment-sectoin .data-box {
    margin-bottom: 40px;
  }
}
.appontment-sectoin .data-box h4 {
  font-size: 18px;
  line-height: 22px;
}
.appontment-sectoin .data-box .data-input-wrapper {
  background: #E3FAFF;
  padding: 33px 50px 50px;
}
.appontment-sectoin .data-box .data-input-wrapper h5 {
  color: #282D41;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}
@media only screen and (max-width: 1024px) {
  .appontment-sectoin .data-box .data-input-wrapper {
    padding: 20px 30px 30px;
  }
}
@media only screen and (max-width: 768px) {
  .appontment-sectoin .data-box .data-input-wrapper {
    padding: 15px 20px 20px;
    grid-gap: 15px;
  }
}
.appontment-sectoin .data-box .data-input-wrapper label {
  color: #282D41;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: block;
  padding-bottom: 5px;
}
.appontment-sectoin .data-box .data-input-wrapper label span {
  color: #32C0CC;
}
.appontment-sectoin .data-box .data-input-wrapper input, .appontment-sectoin .data-box .data-input-wrapper .redio-button {
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  padding: 12px;
  background: #fff;
  border: 1px solid #C0C4CC;
  border-radius: 4px;
}
.appontment-sectoin .data-box .data-input-wrapper input.redio-button, .appontment-sectoin .data-box .data-input-wrapper .redio-button.redio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.appontment-sectoin .data-box .data-input-wrapper input.redio-button .radio-check, .appontment-sectoin .data-box .data-input-wrapper .redio-button.redio-button .radio-check {
  width: 18px;
  height: 18px;
  border: 1px solid #32C0CC;
  border-radius: 500px;
  display: inline-block;
  cursor: pointer;
}
.appontment-sectoin .data-box .data-input-wrapper input.redio-button .radio-check.checked, .appontment-sectoin .data-box .data-input-wrapper .redio-button.redio-button .radio-check.checked {
  position: relative;
}
.appontment-sectoin .data-box .data-input-wrapper input.redio-button .radio-check.checked::after, .appontment-sectoin .data-box .data-input-wrapper .redio-button.redio-button .radio-check.checked::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #32C0CC;
  border-radius: 500px;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
}
.appontment-sectoin .data-box .data-input-wrapper span {
  color: #282D41;
  font-size: 12px;
  line-height: 22px;
  padding-top: 5px;
}
.appontment-sectoin .data-box .data-input-wrapper .clinic-address {
  position: relative;
}
@media only screen and (min-width: 992px) {
  .appontment-sectoin .data-box .data-input-wrapper .clinic-address {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
.appontment-sectoin .data-box .data-input-wrapper .clinic-address::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 14.5px;
  background-image: url("/assets/images/icons/mark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 17px;
  left: 25px;
  z-index: 1;
}
.appontment-sectoin .data-box .data-input-wrapper .clinic-address input {
  padding-left: 50px;
}
@media only screen and (min-width: 992px) {
  .appontment-sectoin .data-box .data-input-wrapper .any-nurse {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .appontment-sectoin .data-box .data-input-wrapper .any-nurse .redio-button {
    max-width: calc(50% - 16px);
  }
}
.appontment-sectoin .data-box .add-person-btn {
  padding-top: 100px;
}
@media only screen and (max-width: 1024px) {
  .appontment-sectoin .data-box .add-person-btn {
    padding-top: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .appontment-sectoin .data-box .add-person-btn {
    padding-top: 40px;
  }
}