@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  max-width: 100%;
  font-size: 100%;
}

html, body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 27px;
  color: #5A5F73;
  font-family: "Inter", sans-serif;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}

/* #####################################
*           GLOBAL STYLE
* ##################################### 
*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 24px;
  color: #282D41;
}
h1 strong, h1 span, h2 strong, h2 span, h3 strong, h3 span, h4 strong, h4 span, h5 strong, h5 span, h6 strong, h6 span {
  color: #32C0CC;
}
@media only screen and (max-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
  }
}

h1 {
  font-size: 64px;
  line-height: 76px;
}
@media only screen and (max-width: 1220xpx) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
}
@media only screen and (max-width: 575px) {
  h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

h2 {
  font-size: 48px;
  line-height: 57px;
}
@media only screen and (max-width: 1220xpx) {
  h2 {
    font-size: 42px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 41px;
  }
}
@media only screen and (max-width: 575px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }
}

h3 {
  font-size: 40px;
  line-height: 48px;
}
@media only screen and (max-width: 1220px) {
  h3 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 28px;
    line-height: 38px;
  }
}
@media only screen and (max-width: 575px) {
  h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

h4 {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 28px;
}
@media only screen and (max-width: 1220px) {
  h4 {
    font-size: 16px;
    line-height: 22px;
  }
}

h5 {
  font-size: 24px;
  line-height: 33px;
}
@media only screen and (max-width: 768px) {
  h5 {
    font-size: 22px;
    line-height: 26px;
  }
}

h6 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #32C0CC;
}

p {
  margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  p {
    margin-bottom: 15px;
  }
}

a {
  color: #32C0CC;
}

img, svg {
  width: 100%;
  height: auto;
  display: block;
}

.section-spacing {
  padding: 80px 0;
}
@media only screen and (max-width: 1020xpx) {
  .section-spacing {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 768px) {
  .section-spacing {
    padding: 40px 0;
  }
}
@media only screen and (max-width: 575px) {
  .section-spacing {
    padding: 30px 0;
  }
}

.container, .large-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1360px;
  padding: 0 32px;
}
@media only screen and (max-width: 768px) {
  .container, .large-container {
    padding: 0 16px;
  }
}

.large-container {
  max-width: 1814px;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 32px;
}

.transition, .appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-header .open-or-close, .footer .footer-menu ul li a, .slick-slider-wrapper .slick-dots li button, .slick-slider-wrapper .next-previous img, .products-wrapper .products .product .product-content .product-top .product-title, .products-wrapper .products .product .product-content .product-top .price, .products-wrapper .products .product .product-image img, .rejuve-btn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rejuve-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 19px 40px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background: #32C0CC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.rejuve-btn img {
  max-width: 13px;
}
.rejuve-btn.small-btn {
  font-weight: 500;
  padding: 9px 37px;
}
.rejuve-btn.btn-large {
  min-width: 265px;
}
.rejuve-btn:hover, .rejuve-btn:focus {
  background: #282D41;
}

.bg-shadow {
  position: relative;
  overflow-x: clip;
}
.bg-shadow::after {
  position: absolute;
  content: "";
  background-image: linear-gradient(259deg, rgba(138, 226, 234, 0.2) 13.81%, rgba(138, 226, 234, 0.2) 35.03%, rgba(138, 226, 234, 0.22) 56.67%, rgba(138, 226, 234, 0.2) 87.34%);
  width: 100%;
  height: 80%;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-filter: blur(70px);
          filter: blur(70px);
}

.bg-light-gradient {
  background: linear-gradient(346deg, rgba(236, 254, 255, 0) 11.76%, #ECFEFF 51.87%, rgba(236, 254, 255, 0) 92%);
}

.text-center, .rejuve-btn {
  text-align: center;
}

.d-none {
  display: none !important;
}

.d-flex, .rejuve-image-box-wrapper .image-box.image-bottoom, .rejuve-image-box-wrapper .image-box.image-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center, .rejuve-iconbox-wrapper .icon-box .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-reverse, .rejuve-image-box-wrapper .image-box.image-bottoom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.d-block {
  display: block;
}

.d-grid, .responsiveGrid {
  display: -ms-grid;
  display: grid;
}

ul {
  margin-left: 25px;
}

.unstyle {
  padding: 0;
  margin: 0;
}
.unstyle li {
  list-style: none;
}

.p-relative {
  position: relative;
}

.radius, .rejuve-iconbox-wrapper .icon-box .icon {
  border-radius: 12px;
}
@media only screen and (max-width: 768px) {
  .radius, .rejuve-iconbox-wrapper .icon-box .icon {
    border-radius: 10px;
  }
}

.coverbg, .rejuve-hero {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.responsiveGrid {
  grid-gap: 32px;
}

.bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
}
.bars span {
  width: 100%;
  height: 4px;
  display: block;
  background-color: #32C0CC;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bars span:not(:last-child) {
  margin-bottom: 5px;
}
.bars.bar-active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 1px;
          transform-origin: 1px;
}
.bars.bar-active span:nth-child(2) {
  opacity: 0;
}
.bars.bar-active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 3px;
          transform-origin: 3px;
}

.section-title {
  max-width: 1230px;
  margin: 0 auto;
  padding-bottom: 65px;
}
@media only screen and (max-width: 1200px) {
  .section-title {
    padding-bottom: 45px;
  }
}
@media only screen and (max-width: 768px) {
  .section-title {
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 375px) {
  .section-title {
    padding-bottom: 20px;
  }
}
.section-title h2 strong, .section-title h2 span {
  color: #32C0CC;
}
.section-title p {
  font-family: "Roboto", sans-serif;
}
.section-title.section-title-left {
  margin-left: 0;
}

.read-more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .read-more {
    padding: 8px 0;
  }
}
.read-more img {
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.read-more:hover img, .read-more:focus img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

/* #####################################
*           IMAGEBOX STYLE
* ##################################### 
*/
.rejuve-image-box-wrapper .image-box {
  overflow: hidden;
  background-color: #f5f5f5;
}
.rejuve-image-box-wrapper .image-box .image-box-content {
  padding: 40px;
}
@media only screen and (max-width: 1024px) {
  .rejuve-image-box-wrapper .image-box .image-box-content {
    padding: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .rejuve-image-box-wrapper .image-box .image-box-content {
    padding: 16px !important;
  }
  .rejuve-image-box-wrapper .image-box .image-box-content h3 {
    margin-bottom: 16px !important;
  }
}
.rejuve-image-box-wrapper .image-box .image-box-content h6 {
  display: block;
  margin-bottom: 8px;
}
.rejuve-image-box-wrapper .image-box .image-box-content p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}
.rejuve-image-box-wrapper .image-box.small-image-box .image-box-content {
  padding: 24px;
}
.rejuve-image-box-wrapper .image-box.small-image-box .image-box-content h3 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 768px) {
  .rejuve-image-box-wrapper .image-box.small-image-box .image-box-content h3 {
    font-size: 22px;
    line-height: 26px;
  }
}
.rejuve-image-box-wrapper .image-box.image-left .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media only screen and (min-width: 881px) {
  .rejuve-image-box-wrapper .image-box.image-left .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.rejuve-image-box-wrapper .image-box.image-left .image-box-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media only screen and (max-width: 768px) {
  .rejuve-image-box-wrapper .image-box.image-left {
    display: block;
  }
}
/* #####################################
*           ICONBOX STYLE
* ##################################### 
*/
.rejuve-iconbox-wrapper .icon-box {
  text-align: center;
}
@media only screen and (max-width: 575px) {
  .rejuve-iconbox-wrapper .icon-box {
    margin-bottom: 30px;
  }
}
.rejuve-iconbox-wrapper .icon-box .icon {
  background-color: currentColor;
  height: 64px;
  width: 64px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.rejuve-iconbox-wrapper .icon-box .icon img {
  width: auto;
}
.rejuve-iconbox-wrapper .icon-box .icon-box-content h5 {
  margin-bottom: 16px;
}
.rejuve-iconbox-wrapper .icon-box .icon-box-content p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}
.rejuve-iconbox-wrapper .icon-box.left {
  text-align: left;
}
@media only screen and (min-width: 575px) {
  .rejuve-iconbox-wrapper .icon-box.left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.rejuve-iconbox-wrapper .icon-box.left .icon {
  margin-right: 24px;
  margin-bottom: 16px;
}

/* #####################################
*           SPLIT LAYOUT
* ##################################### 
*/
.split-layout .responsiveGrid {
  margin-bottom: 40px;
}
.split-layout .left-content span {
  margin-bottom: 15px;
}

/* #####################################
*           CONTENT WITH MEDIA
* ##################################### 
*/
@media only screen and (min-width: 1280px) {
  .content-with-media .responsiveGrid {
    grid-gap: 80px;
  }
}
.content-with-media .responsiveGrid .inner-section {
  padding-top: 50px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
@media only screen and (max-width: 1220px) {
  .content-with-media .responsiveGrid .inner-section {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 575px) {
  .content-with-media .responsiveGrid .inner-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}
.content-with-media .responsiveGrid .inner-section h4 {
  color: #32C0CC;
}

/* #####################################
*           PRODUCT STYLE
* ##################################### 
*/
.products-wrapper .products.responsiveGrid {
  grid-row-gap: 60px;
}
@media only screen and (max-width: 1200px) {
  .products-wrapper .products.responsiveGrid {
    grid-row-gap: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .products-wrapper .products.responsiveGrid {
    grid-row-gap: 35px;
  }
}
.products-wrapper .products .product .product-image img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.products-wrapper .products .product .product-content {
  padding: 24px;
}
.products-wrapper .products .product .product-content .product-top {
  margin-bottom: 12px;
}
.products-wrapper .products .product .product-content .product-top .product-title, .products-wrapper .products .product .product-content .product-top .price {
  color: #282D41;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.products-wrapper .products .product .product-content .product-top .product-title:hover, .products-wrapper .products .product .product-content .product-top .product-title:focus {
  color: #32C0CC;
}
.products-wrapper .products .product .product-content .product-top .price {
  font-family: "Roboto", sans-serif;
  margin-left: 14px;
}
.products-wrapper .products .product .product-content p {
  font-size: 13px;
  line-height: 19px;
}
.products-wrapper .products .product:hover img, .products-wrapper .products .product:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* #####################################
*           HEADER STYLE
* ##################################### 
*/
.rejuve-header {
  padding: 16px 0;
  position: fixed;
  z-index: 1024;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid #C0C4CC;
}
.rejuve-header .header-menu-wrap .logo-wrapper {
  width: 140px;
}
.rejuve-header .header-menu-wrap .logo-wrapper .logo img {
  max-width: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rejuve-header .header-menu-wrap .main-header-menu li {
  list-style: none;
}
.rejuve-header .header-menu-wrap .main-header-menu li a {
  font-size: 16px;
  line-height: 24px;
  color: #282D41;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 5px;
}
.rejuve-header .header-menu-wrap .main-header-menu li a:hover, .rejuve-header .header-menu-wrap .main-header-menu li a:focus {
  color: #32C0CC;
}
.rejuve-header .header-menu-wrap .main-header-menu li:not(:last-child) {
  margin-right: 22px;
}
.rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li a {
  color: #32C0CC;
  font-weight: 600;
}
.rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li.book-now a {
  background-color: #32C0CC;
  padding: 8px 20px;
  border-radius: 5px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
}
.rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li.book-now a:hover, .rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li.book-now a:focus {
  background-color: #282D41;
}
.rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li:not(:last-child) {
  margin-right: 20px;
}
.rejuve-header.sticky {
  padding: 8px 0;
  -webkit-box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}
.rejuve-header.sticky .header-menu-wrap .logo-wrapper .logo img {
  max-width: 100px;
}

/* #####################################
*           HOME HERO STYLE
* ##################################### 
*/
.rejuve-hero {
  padding: 360px 0;
}
@media only screen and (max-width: 1356px) {
  .rejuve-hero {
    padding: 280px 0;
  }
}
@media only screen and (max-width: 1200px) {
  .rejuve-hero {
    padding: 200px 0;
  }
}
@media only screen and (max-width: 1024px) {
  .rejuve-hero {
    padding: 120px 0;
  }
}
@media only screen and (max-width: 768px) {
  .rejuve-hero {
    padding: 60px 0;
    background-image: unset !important;
  }
}
@media only screen and (max-width: 375px) {
  .rejuve-hero {
    padding: 50px 0;
  }
}
.rejuve-hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rejuve-hero .hero-content {
  max-width: 1070px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .rejuve-hero .hero-content {
    text-align: center;
  }
}
.rejuve-hero .hero-content.right {
  margin: 0 auto;
  margin-right: 0;
}
@media only screen and (max-width: 768px) {
  .rejuve-hero .hero-content h1 {
    margin-bottom: 15px;
  }
}
.rejuve-hero .hero-content p {
  font-size: 32px;
  line-height: 38px;
  margin: 50px 0;
  font-weight: 400;
}
@media only screen and (max-width: 1200px) {
  .rejuve-hero .hero-content p {
    margin: 40px 0;
    font-size: 32px;
    line-height: 38px;
  }
}
@media only screen and (max-width: 768px) {
  .rejuve-hero .hero-content p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 375px) {
  .rejuve-hero .hero-content p {
    margin-top: 16px;
    font-size: 16px;
    line-height: 27px;
  }
}
@media only screen and (max-width: 768px) {
  .rejuve-hero .mobile-image {
    display: block !important;
    padding-top: 30px;
  }
  .rejuve-hero .mobile-image::before {
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(8.538deg);
            transform: rotate(8.538deg);
    -ms-flex-negative: 0;
        flex-shrink: 0;
    content: "";
    position: absolute;
    top: -125px;
    left: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    background: linear-gradient(346deg, rgba(236, 254, 255, 0) 11.76%, #ECFEFF 51.87%, rgba(236, 254, 255, 0) 92%);
  }
}

/* #####################################
*           Page Banner STYLE
* ##################################### 
*/
.page-banner {
  padding: 65px 0;
}
@media only screen and (max-width: 1024px) {
  .page-banner {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 575px) {
  .page-banner {
    padding: 25px 0;
  }
}
.page-banner .container {
  max-width: 1660px;
}
.page-banner .container .page-banner-img {
  padding: 40px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 575px) {
  .page-banner .container .page-banner-img {
    padding: 0;
  }
}
.page-banner .container .page-banner-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #F1FCFD;
  border-radius: 500px;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  z-index: -1;
}
@media only screen and (max-width: 575px) {
  .page-banner .container .page-banner-img::after {
    -webkit-filter: blur(70px);
            filter: blur(70px);
  }
}
@media only screen and (max-width: 575px) {
  .page-banner .container .page-banner-content {
    text-align: center;
  }
}
.page-banner .container .page-banner-content h1 {
  color: #000;
  font-size: 48px;
  line-height: 62px;
}
@media only screen and (max-width: 575px) {
  .page-banner .container .page-banner-content h1 {
    font-size: 24px;
    line-height: 28px;
  }
}
.page-banner .container .page-banner-content .service-type {
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
@media only screen and (max-width: 575px) {
  .page-banner .container .page-banner-content .service-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 15px;
    padding-top: 5px;
  }
}
.page-banner .container .page-banner-content .service-type .service-item {
  row-gap: 15px;
}
.page-banner .container .page-banner-content .service-type .service-item .price {
  color: #A6C3C6;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 0;
}
.page-banner .container .page-banner-content .service-type .service-item .service-item-btn {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.page-banner .container .page-banner-content .service-type .service-item .service-item-btn:hover {
  background: #32C0CC;
}
.page-banner .container .page-banner-content .service-type .service-item span {
  font-weight: 500;
  color: rgba(90, 95, 115, 0.6);
  font-size: 14px;
  line-height: 16px;
}
.page-banner .container .page-banner-content .service-type .service-item.active .price {
  color: #32C0CC;
}
.page-banner .container .page-banner-content .service-type .service-item.active .service-item-btn {
  background: #32C0CC;
}

/* #####################################
*           HOME SERVICE SECTION
* ##################################### 
*/
@media only screen and (min-width: 880px) {
  .services .rejuve-image-box-wrapper {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "item-1 item-2" "item-1 item-3";
    grid-gap: 24px;
  }
  .services .rejuve-image-box-wrapper .image-box:nth-child(1) {
    grid-area: item-1;
  }
  .services .rejuve-image-box-wrapper .image-box:nth-child(2) {
    grid-area: item-2;
  }
  .services .rejuve-image-box-wrapper .image-box:nth-child(3) {
    grid-area: item-3;
  }
}
@media only screen and (min-width: 880px){
  .services .rejuve-image-box-wrapper .image-box:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .services .rejuve-image-box-wrapper .image-box:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .services .rejuve-image-box-wrapper .image-box:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

/* #####################################
*          SlIDER
* ##################################### 
*/
.slick-slider-wrapper .slick-slider-init .slick-slider .slider-content {
  padding: 16px;
}
.slick-slider-wrapper .slick-slider-init .slick-slider .slider-content * {
  color: #282D41;
}
.slick-slider-wrapper .slick-slider-init .slick-slider .slider-content p {
  font-size: 20px;
  line-height: 28px;
}
@media only screen and (max-width: 768px) {
  .slick-slider-wrapper .slick-slider-init .slick-slider .slider-content p {
    font-size: 18px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 768px) {
  .slick-slider-wrapper .slick-slider-init .slick-slider .slider-content p {
    font-size: 18px;
    line-height: 24px;
  }
}
.slick-slider-wrapper .slick-slider-init .slick-slider .client-info img {
  height: 56px;
  width: 56px;
  border-radius: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 8px;
}
.slick-slider-wrapper .slick-slider-init .slick-slider .client-info span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.slick-slider-wrapper .next-previous img {
  height: 48px;
  width: 48px;
  width: auto;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #C0C4CC;
  cursor: pointer;
}
.slick-slider-wrapper .next-previous img:hover, .slick-slider-wrapper .next-previous img:focus {
  border-color: #32C0CC;
  background-color: #32C0CC;
}
.slick-slider-wrapper .slick-dots {
  bottom: -70px;
}
.slick-slider-wrapper .slick-dots li button {
  padding: 0;
  width: 8px;
  height: 8px;
  background-color: #282D41;
  border-radius: 500px;
}
.slick-slider-wrapper .slick-dots li button::before {
  content: none;
}
.slick-slider-wrapper .slick-dots li:not(.slick-active) button {
  opacity: 0.5;
}
.slick-slider-wrapper .slick-dots li:hover button, .slick-slider-wrapper .slick-dots li:focus button {
  opacity: 1;
}

/* #####################################
*           CTA STYLE
* ##################################### 
*/
.cta {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(90%, #E3FAFF), color-stop(50%, transparent));
  background-image: linear-gradient(to top, #E3FAFF 90%, transparent 50%);
}
@media only screen and (max-width: 1024px) {
  .cta {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(100%, #E3FAFF), color-stop(50%, #E3FAFF));
    background-image: linear-gradient(to top, #E3FAFF 100%, #E3FAFF 50%);
  }
}
.cta .container {
  max-width: 800px;
}
.cta .classic-editor {
  padding: 40px 0;
}
@media only screen and (min-width: 880px) {
  .cta .classic-editor .rejuve-btn {
    margin-top: 15px;
  }
}

/* #####################################
*           FOOTER STYLE
* ##################################### 
*/
.footer {
  background-color: #282D41;
  padding: 58px 0;
}
.footer .footer-menu ul {
  margin: 0;
}
.footer .footer-menu ul li {
  list-style: none;
  display: block;
  line-height: 0;
}
.footer .footer-menu ul li a {
  color: #AFB1B2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: block;
}
.footer .footer-menu ul li a:hover, .footer .footer-menu ul li a:focus {
  color: #32C0CC;
}
.footer .footer-top {
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
}
.footer .footer-top .footer-intro {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}
.footer .footer-top .footer-intro a img {
  width: auto;
}
.footer .footer-top .footer-menus {
  grid-column: 4/-1;
}
.footer .footer-top .footer-menus .footer-menu h6 {
  color: #fff;
}
.footer .footer-top .footer-menus .footer-menu ul li a {
  margin: 4px 0;
}
.footer .footer-bottom {
  padding-top: 32px;
  border-top: 1px solid #7D7F84;
}
.footer .footer-bottom span {
  font-size: 14px;
  line-height: 21px;
  color: #AFB1B2;
}
.footer .footer-bottom .footer-menu {
  text-align: right;
}
.footer .footer-bottom .footer-menu ul li {
  display: inline-block;
}
.footer .footer-bottom .footer-menu ul li a {
  margin-left: 24px;
  text-decoration: underline;
}
@media only screen and (max-width: 768pxpx) {
  .footer .footer-bottom .footer-menu {
    text-align: center;
  }
}

/* #####################################
*           About Us HERO STYLE
* ##################################### 
*/
.about-us-hero {
  padding: 80px 0 100px;
}
@media only screen and (max-width: 1024px) {
  .about-us-hero {
    padding: 60px 0 80px;
  }
}
@media only screen and (max-width: 575px) {
  .about-us-hero {
    padding: 40px 0 50px;
  }
}

/* #####################################
*       Book Appointment HERO STYLE
* ##################################### 
*/
.book-appointment-hero {
  padding: 120px 0 20px;
}
@media only screen and (max-width: 1024px) {
  .book-appointment-hero {
    padding: 80px 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  .book-appointment-hero {
    padding: 60px 0 20px;
  }
}
.book-appointment-hero .container {
  max-width: 735px;
}
.book-appointment-hero .container h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .book-appointment-hero .container h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

/* #####################################
*     Appontment-sectoin STYLE
* ##################################### 
*/
.appontment-sectoin .data-box {
  margin-bottom: 60px;
}
@media only screen and (max-width: 1200px) {
  .appontment-sectoin .data-box {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .appontment-sectoin .data-box {
    margin-bottom: 20px;
  }
}
.appontment-sectoin .data-box h4 {
  font-size: 18px;
  line-height: 22px;
}
.appontment-sectoin .data-box .data-input-wrapper {
  background: #E3FAFF;
  padding: 50px;
}
.appontment-sectoin .data-box .data-input-wrapper h5 {
  color: #282D41;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .appontment-sectoin .data-box .data-input-wrapper {
    padding: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .appontment-sectoin .data-box .data-input-wrapper {
    padding: 20px;
    grid-gap: 15px;
  }
}
.appontment-sectoin .data-box .data-input-wrapper label {
  color: #282D41;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: block;
  padding-bottom: 5px;
}
.appontment-sectoin .data-box .data-input-wrapper label span {
  color: #32C0CC;
}
.appontment-sectoin .data-box .data-input-wrapper input, .appontment-sectoin .data-box .data-input-wrapper textarea, .appontment-sectoin .data-box .data-input-wrapper .redio-button {
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  padding: 12px;
  background: #fff;
  border: 1px solid #C0C4CC;
  border-radius: 4px;
}
.appontment-sectoin .data-box .data-input-wrapper input.redio-button, .appontment-sectoin .data-box .data-input-wrapper textarea.redio-button, .appontment-sectoin .data-box .data-input-wrapper .redio-button.redio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.appontment-sectoin .data-box .data-input-wrapper input.redio-button .radio-check, .appontment-sectoin .data-box .data-input-wrapper textarea.redio-button .radio-check, .appontment-sectoin .data-box .data-input-wrapper .redio-button.redio-button .radio-check {
  width: 18px;
  height: 18px;
  border: 1px solid #32C0CC;
  border-radius: 500px;
  display: inline-block;
  cursor: pointer;
}
.appontment-sectoin .data-box .data-input-wrapper input.redio-button .radio-check.checked, .appontment-sectoin .data-box .data-input-wrapper textarea.redio-button .radio-check.checked, .appontment-sectoin .data-box .data-input-wrapper .redio-button.redio-button .radio-check.checked {
  position: relative;
}
.appontment-sectoin .data-box .data-input-wrapper input.redio-button .radio-check.checked::after, .appontment-sectoin .data-box .data-input-wrapper textarea.redio-button .radio-check.checked::after, .appontment-sectoin .data-box .data-input-wrapper .redio-button.redio-button .radio-check.checked::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #32C0CC;
  border-radius: 500px;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
}
.appontment-sectoin .data-box .data-input-wrapper span {
  color: #282D41;
  font-size: 12px;
  line-height: 22px;
  padding-top: 5px;
}
.appontment-sectoin .data-box .data-input-wrapper .clinic-address, .appontment-sectoin .data-box .data-input-wrapper .your-address {
  position: relative;
}
@media only screen and (min-width: 992px) {
  .appontment-sectoin .data-box .data-input-wrapper .clinic-address, .appontment-sectoin .data-box .data-input-wrapper .your-address {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
.appontment-sectoin .data-box .data-input-wrapper .clinic-address::before, .appontment-sectoin .data-box .data-input-wrapper .your-address::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 14.5px;
  background-image: url("/assets/images/icons/mark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 17px;
  left: 25px;
  z-index: 1;
}
.appontment-sectoin .data-box .data-input-wrapper .clinic-address input, .appontment-sectoin .data-box .data-input-wrapper .your-address input {
  padding-left: 50px;
  padding-right: 150px;
}
.appontment-sectoin .data-box .data-input-wrapper .clinic-address .save-button, .appontment-sectoin .data-box .data-input-wrapper .your-address .save-button {
  position: absolute;
  padding: 5px 10px;
  background: transparent;
  bottom: 8px;
  right: 12px;
  cursor: pointer;
  color: #32C0CC;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.appontment-sectoin .data-box .data-input-wrapper .saved-items {
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  row-gap: 20px;
}
@media only screen and (min-width: 992px) {
  .appontment-sectoin .data-box .data-input-wrapper .saved-items {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 575px) {
  .appontment-sectoin .data-box .data-input-wrapper .saved-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.appontment-sectoin .data-box .data-input-wrapper .saved-items .saved-item {
  width: 100%;
  max-width: 200px;
  background: #fff;
  padding: 10px 10px 35px;
  border: 1px solid rgba(192, 196, 204, 0.47);
  border-radius: 4px;
  position: relative;
}
.appontment-sectoin .data-box .data-input-wrapper .saved-items .saved-item .saved-address-type {
  color: #5A5F73;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 0 25px 0 20px;
  position: relative;
}
.appontment-sectoin .data-box .data-input-wrapper .saved-items .saved-item .saved-address-type::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background-image: url("/assets/images/icons/home-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 5px;
  left: 0;
  z-index: 1;
}
.appontment-sectoin .data-box .data-input-wrapper .saved-items .saved-item p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;
}
.appontment-sectoin .data-box .data-input-wrapper .saved-items .saved-item .edit-btn {
  color: #C0C4CC;
  font-size: 12px;
  line-height: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.appontment-sectoin .data-box .data-input-wrapper .saved-items .saved-item .delete-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
.appontment-sectoin .data-box .data-input-wrapper .saved-items .saved-item .delete-btn img {
  max-width: 27px;
}
@media only screen and (min-width: 992px) {
  .appontment-sectoin .data-box .data-input-wrapper .any-nurse {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .appontment-sectoin .data-box .data-input-wrapper .any-nurse .redio-button {
    max-width: calc(50% - 16px);
  }
}
.appontment-sectoin .data-box .data-input-wrapper .discount {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.appontment-sectoin .data-box .data-input-wrapper .discount .discount-btn {
  min-width: 168px;
  height: 48px;
  padding: 10px;
}
@media only screen and (max-width: 575px) {
  .appontment-sectoin .data-box .data-input-wrapper .discount .discount-btn {
    min-width: 140px;
  }
}
.appontment-sectoin .data-box .data-input-wrapper .tip {
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
@media only screen and (max-width: 575px) {
  .appontment-sectoin .data-box .data-input-wrapper .tip {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
.appontment-sectoin .data-box .data-input-wrapper .tip .defult-tip .redio-button {
  background: transparent;
  border: 0;
  padding-left: 0;
  padding-top: 0;
}
.appontment-sectoin .data-box .data-input-wrapper .tip .custom-tip {
  width: 75%;
  row-gap: 20px;
}
.appontment-sectoin .data-box .data-input-wrapper .tip .custom-tip .check-mark {
  margin-bottom: 0;
}
.appontment-sectoin .data-box .data-input-wrapper .tip .custom-tip .total-tip span {
  color: #32C0CC;
  font-size: 16px;
  line-height: 22px;
}
.appontment-sectoin .data-box .data-input-wrapper .card-details {
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
}
@media only screen and (min-width: 992px) {
  .appontment-sectoin .data-box .data-input-wrapper .card-details {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
.appontment-sectoin .data-box .data-input-wrapper .card-details .card-number {
  width: calc(50% - 16px);
}
@media only screen and (max-width: 1024px) {
  .appontment-sectoin .data-box .data-input-wrapper .card-details .card-number {
    width: 100%;
  }
}
.appontment-sectoin .data-box .data-input-wrapper .card-details .expiration, .appontment-sectoin .data-box .data-input-wrapper .card-details .cvc {
  width: 23%;
}
@media only screen and (max-width: 1024px) {
  .appontment-sectoin .data-box .data-input-wrapper .card-details .expiration, .appontment-sectoin .data-box .data-input-wrapper .card-details .cvc {
    width: 48%;
  }
}
@media only screen and (max-width: 575px) {
  .appontment-sectoin .data-box .data-input-wrapper .card-details .expiration, .appontment-sectoin .data-box .data-input-wrapper .card-details .cvc {
    width: 46%;
  }
}
.appontment-sectoin .data-box .data-input-wrapper .card-details .special-instructions {
  width: 100%;
}
.appontment-sectoin .data-box .data-input-wrapper .card-details .special-instructions label {
  color: #32C0CC;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
}
.appontment-sectoin .add-person-btn {
  padding-top: 40px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1200px) {
  .appontment-sectoin .add-person-btn {
    padding-top: 20px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .appontment-sectoin .add-person-btn {
    padding-top: 10px;
    margin-bottom: 20px;
  }
}
.appontment-sectoin .add-person-btn.add-of-single {
  padding-top: 0;
}
@media only screen and (max-width: 1200px) {
  .appontment-sectoin .add-person-btn.add-of-single {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .appontment-sectoin .add-person-btn.add-of-single {
    text-align: center;
  }
}
.appontment-sectoin .calculator-box {
  padding: 40px 60px;
  background: #FFF9EB;
  margin-bottom: 35px;
}
@media only screen and (max-width: 1024px) {
  .appontment-sectoin .calculator-box {
    padding: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .appontment-sectoin .calculator-box {
    padding: 20px;
  }
}
.appontment-sectoin .calculator-box .person {
  margin-bottom: 30px;
}
.appontment-sectoin .calculator-box .person h5 {
  font-weight: 600;
  color: #282D41;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
}
.appontment-sectoin .calculator-box .person .product-wrapper {
  background: #FBF2DD;
  padding: 40px;
  row-gap: 40px;
}
@media only screen and (max-width: 1024px) {
  .appontment-sectoin .calculator-box .person .product-wrapper {
    padding: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .appontment-sectoin .calculator-box .person .product-wrapper {
    padding: 15px;
  }
}
.appontment-sectoin .calculator-box .person .product-wrapper .product-item {
  color: #282D41;
  font-size: 14px;
  line-height: 22px;
}
.appontment-sectoin .calculator-box .person .product-wrapper .product-item .product-price {
  font-weight: 600;
}
.appontment-sectoin .calculator-box .summary {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.appontment-sectoin .calculator-box .summary ul {
  width: 100%;
  max-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.appontment-sectoin .calculator-box .summary ul li {
  color: #282D41;
  font-size: 14px;
  line-height: 22px;
}
.appontment-sectoin .calculator-box .summary ul li .sum-pricy {
  font-weight: 600;
}
.appontment-sectoin .calculator-box .summary ul li.total {
  font-weight: 600;
  font-size: 18px;
  border-top: 1px solid rgba(40, 45, 65, 0.22);
  padding-top: 5px;
}
.appontment-sectoin .check-mark {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #282D41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 35px;
}
.appontment-sectoin .check-mark .square, .appontment-sectoin .check-mark .circle {
  width: 20px;
  height: 20px;
  border: 1px solid #C0C4CC;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  background: #FFFFFF;
}
.appontment-sectoin .check-mark .square.checked, .appontment-sectoin .check-mark .circle.checked {
  position: relative;
}
.appontment-sectoin .check-mark .square.checked::after, .appontment-sectoin .check-mark .circle.checked::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #32C0CC;
  border-radius: 500px;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
}
.appontment-sectoin .check-mark .circle {
  border-radius: 500px;
}
.appontment-sectoin .check-mark .cm-content {
  width: 90%;
}
.appontment-sectoin .check-mark .recom {
  font-weight: 600;
}
.appontment-sectoin .accordion-box {
  margin-bottom: 45px;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item {
  background: #E3FAFF;
  padding: 25px 100px 30px;
  border-radius: 12px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 768px) {
  .appontment-sectoin .accordion-box .accordion-wrapper .accordion-item {
    padding: 25px 15px 30px 40px;
  }
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-header {
  padding-right: 35px;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-header .open-or-close {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 7px;
  right: 0;
  top: 5px;
  cursor: pointer;
  background: transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-header .accordion-title {
  color: #282D41;
  padding: 5px 9px 0 0;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-header .selected-item {
  color: #32C0CC;
  padding: 5px 30px 0 9px;
  position: relative;
  display: inline-block;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-header .selected-item::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: calc(50% - 5px);
  right: 2px;
  background-image: url("/assets/images/icons/close-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 12px 60px;
  padding: 40px 0;
  display: none;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-body > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-body > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
@media only screen and (max-width: 768px) {
  .appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-body {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    padding: 35px 25px 20px 0;
  }
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-body .treatment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 22px;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-body .treatment-item .t-item-name {
  color: #282D41;
  padding-left: 32px;
  position: relative;
  cursor: pointer;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-body .treatment-item .t-item-name::after, .appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-body .treatment-item .t-item-name::before {
  position: absolute;
  content: "";
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-body .treatment-item .t-item-name::after {
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background: #fff;
  border: 1px solid #C0C4CC;
  border-radius: 3px;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-body .treatment-item .t-item-name::before {
  width: 11px;
  height: 11px;
  left: 6px;
  top: 5.5px;
  border-radius: 1px;
  background: transparent;
  z-index: 1;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-body .treatment-item .t-item-price {
  color: #32C0CC;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item .accordion-body .treatment-item.selected .t-item-name::before {
  background: #32C0CC;
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item.open .accordion-header .open-or-close {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.appontment-sectoin .accordion-box .accordion-wrapper .accordion-item.open .accordion-body {
  display: -ms-grid;
  display: grid;
}

/* #####################################
*     Single Page STYLE
* ##################################### 
*/
.single-classic-editor {
  padding-bottom: 35px;
}
@media only screen and (max-width: 768px) {
  .single-classic-editor {
    padding-bottom: 15px;
  }
}
.single-classic-editor h2 {
  color: #282D41;
  font-size: 64px;
  line-height: 76px;
}
@media only screen and (max-width: 768px) {
  .single-classic-editor h2 {
    font-size: 32px;
    line-height: 38px;
  }
}
@media only screen and (max-width: 575px) {
  .single-classic-editor h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
.single-classic-editor h6 {
  color: #282D41;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}
.single-classic-editor h5 {
  color: #5A5F73;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
.single-classic-editor h5 span {
  font-weight: 600;
  color: #32C0CC;
}

.single-split .left-content h6 {
  color: #282D41;
}
.single-split .left-content h2 span {
  color: #F6D66F;
}
.single-split .split-image {
  padding-top: 100px;
}
@media only screen and (max-width: 768px) {
  .single-split .split-image {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 1279px) {
  .product-description .left-content {
    padding-bottom: 20px;
  }
}
.product-description .left-content h2 span {
  color: #EA78A1;
}

.vertical-scroll-wrap {
  position: relative;
}
.vertical-scroll-wrap::after {
  position: absolute;
  content: "";
  width: calc(100% - 15px);
  height: 205px;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7019607843);
  border-radius: 12px 12px 0 0;
}
.vertical-scroll-wrap .vertical-scroll {
  height: 760px;
  overflow-y: scroll;
}
.vertical-scroll-wrap .vertical-scroll .description-item {
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 30px;
}
.vertical-scroll-wrap .vertical-scroll .description-item h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 15px;
}
.vertical-scroll-wrap .vertical-scroll .description-item h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 15px;
}
.vertical-scroll-wrap .vertical-scroll .description-item h6 {
  color: #5A5F73;
  margin-bottom: 15px;
}
.vertical-scroll-wrap .vertical-scroll .description-item p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}
.vertical-scroll-wrap .vertical-scroll .description-item:last-child {
  margin-bottom: 0;
}

.rejuve-faq .container {
  max-width: 1670px;
}
.rejuve-faq .container .section-title {
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 45px;
}
@media only screen and (max-width: 1200px) {
  .rejuve-faq .container .section-title {
    padding-bottom: 5px;
    text-align: left;
    max-width: 100%;
  }
}
.rejuve-faq .container .faq .faq-item {
  padding-bottom: 30px;
}
.rejuve-faq .container .faq .faq-item h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
@media only screen and (min-width: 1201px) {
  .rejuve-faq .container .faq .faq-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .rejuve-faq .container .faq .faq-item h6 {
    width: 26%;
  }
  .rejuve-faq .container .faq .faq-item p {
    width: 72%;
  }
}

/* #####################################
*     Category Product Page STYLE
* ##################################### 
*/
.product-hero {
  padding: 190px 0;
}
@media only screen and (max-width: 1220px) {
  .product-hero {
    padding: 240px 0;
  }
}
@media only screen and (max-width: 1024px) {
  .product-hero {
    background-position-x: -480px !important;
  }
}
@media only screen and (max-width: 768px) {
  .product-hero {
    padding: 50px 0 30px;
  }
}
.product-hero .hero-content {
  width: 100%;
  max-width: 64%;
  margin-left: auto;
}
@media only screen and (max-width: 768px) {
  .product-hero .hero-content {
    max-width: 100%;
  }
}
.product-hero .hero-content h1 {
  font-size: 48px;
  line-height: 62px;
}
@media only screen and (max-width: 768px) {
  .product-hero .hero-content h1 {
    font-size: 24px;
    line-height: 28px;
  }
}
.product-hero .hero-content p {
  margin: 0 0 80px;
  font-size: 16px;
  line-height: 22px;
}
@media only screen and (max-width: 1200px) {
  .product-hero .hero-content p {
    margin: 35px 0;
  }
}
@media only screen and (max-width: 768px) {
  .product-hero .hero-content p {
    margin: 42px 0;
  }
}
.product-hero .mobile-image {
  padding-top: 0;
  margin-top: -25px;
}
.product-hero .mobile-image::before {
  top: -200px;
}
@media only screen and (max-width: 560px) {
  .product-hero .mobile-image::before {
    top: -110px;
  }
}

.product-section .container {
  max-width: 1714px;
}
.product-section .container .products-wrapper {
  grid-gap: 54px 24px;
}
@media only screen and (max-width: 1220px) {
  .product-section .container .products-wrapper {
    grid-gap: 32px 24px;
  }
}
@media only screen and (max-width: 768px) {
  .product-section .container .products-wrapper {
    grid-gap: 24px;
  }
}
.product-section .container .products-wrapper .product-item a {
  display: inline-block;
}
.product-section .container .products-wrapper .product-item a .product-title {
  font-weight: 600;
  margin-bottom: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.product-section .container .products-wrapper .product-item a .product-title .price {
  color: currentColor;
  padding-left: 10px;
}
.product-section .container .products-wrapper .product-item a:hover .product-title {
  color: #32C0CC;
}
.product-section .container .products-wrapper .product-item p {
  font-size: 16px;
  line-height: 22px;
}

.flip-section .flip-item-wrapper {
  position: relative;
  width: 100%;
  height: 920px;
}
@media only screen and (max-width: 991px) {
  .flip-section .flip-item-wrapper {
    height: 1280px;
  }
}
.flip-section .flip-item-wrapper .flip-item {
  padding: 50px 40px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.flip-section .flip-item-wrapper .flip-item .responsiveGrid {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.flip-section .flip-item-wrapper .flip-item h6 {
  font-size: 18px;
  line-height: 27px;
}
.flip-section .flip-item-wrapper .flip-item h3 {
  font-size: 32px;
  line-height: 38px;
}
.flip-section .flip-item-wrapper .flip-item:nth-child(1) {
  background: #E3FAFF;
  height: 820px;
  z-index: 5;
}
@media only screen and (max-width: 991px) {
  .flip-section .flip-item-wrapper .flip-item:nth-child(1) {
    height: 1200px;
  }
}
.flip-section .flip-item-wrapper .flip-item:nth-child(1) .responsiveGrid {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
.flip-section .flip-item-wrapper .flip-item:nth-child(1) h6 {
  color: #50BCEB;
}
.flip-section .flip-item-wrapper .flip-item:nth-child(2) {
  padding-top: 100px;
  background: #FFF4FA;
  height: 870px;
  z-index: 4;
}
@media only screen and (max-width: 991px) {
  .flip-section .flip-item-wrapper .flip-item:nth-child(2) {
    height: 1240px;
    padding-top: 40px;
  }
}
.flip-section .flip-item-wrapper .flip-item:nth-child(2) h6 {
  color: #EA78A1;
}
.flip-section .flip-item-wrapper .flip-item:nth-child(3) {
  padding-top: 150px;
  background: #F1FFF9;
  height: 920px;
  z-index: 3;
}
@media only screen and (max-width: 991px) {
  .flip-section .flip-item-wrapper .flip-item:nth-child(3) {
    height: 1280px;
    padding-top: 80px;
  }
}
.flip-section .flip-item-wrapper .flip-item:nth-child(3) h6 {
  color: #70DCAE;
}
.flip-section .flip-item-wrapper .flip-item:hover {
  z-index: 9;
}
.flip-section .flip-item-wrapper .flip-item:hover .responsiveGrid {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

@media only screen and (min-width: 769px) {
  .benefits-section h2 {
    font-size: 40px;
    line-height: 48px;
  }
}
.benefits-section h2 span {
  color: #F6D66F;
}
.benefits-section .responsiveGrid {
  grid-gap: 52px;
}
.benefits-section .responsiveGrid .vertical-scroll-wrap::after {
  height: 120px;
  left: 32px;
  width: calc(100% - 50px);
}
.benefits-section .responsiveGrid .vertical-scroll-wrap .vertical-scroll {
  height: 624px;
}
.benefits-section .responsiveGrid .vertical-scroll-wrap .vertical-scroll .item {
  padding-left: 32px;
  position: relative;
  margin-bottom: 30px;
}
.benefits-section .responsiveGrid .vertical-scroll-wrap .vertical-scroll .item::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.benefits-section .responsiveGrid .vertical-scroll-wrap .vertical-scroll .item:hover::before {
  background: #32C0CC;
}
.benefits-section .responsiveGrid .vertical-scroll-wrap .vertical-scroll .item h4 {
  font-size: 32px;
  line-height: 41px;
  margin-bottom: 15px;
}
.benefits-section .responsiveGrid .vertical-scroll-wrap .vertical-scroll .item p {
  font-size: 16px;
  line-height: 24px;
}