@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  max-width: 100%;
  font-size: 100%;
}

html, body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 27px;
  color: #5A5F73;
  font-family: "Inter", sans-serif;
}

/* #####################################
*           GLOBAL STYLE
* ##################################### 
*/
h1 {
  font-size: 56px;
  line-height: 67px;
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
}

h2 {
  font-size: 48px;
  line-height: 57px;
}
@media only screen and (max-width: tablet) {
  h2 {
    font-size: 42px;
    line-height: 50px;
  }
}

img, svg {
  width: 100%;
  height: auto;
}

.section-spacing {
  padding: 80px 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1360px;
  padding: 0 25px;
}

.transition {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn {
  display: inline-block;
  padding: 14px 24px;
  border-radius: 4px;
  font-size: 17px;
  line-height: 28px;
  position: relative;
  z-index: 1;
  font-weight: 400;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-12.76%, #89A3FF), color-stop(38.44%, #6083FF), color-stop(139.29%, #476DF4));
  background: linear-gradient(180deg, #89A3FF -12.76%, #6083FF 38.44%, #476DF4 139.29%);
}
.btn:hover, .btn:focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-12.76%, #476DF4), color-stop(38.44%, #6083FF), color-stop(139.29%, #89A3FF));
  background: linear-gradient(180deg, #476DF4 -12.76%, #6083FF 38.44%, #89A3FF 139.29%);
}

.text-center {
  text-align: center;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.unstyle {
  padding: 0;
  margin: 0;
}
.unstyle li {
  list-style: none;
}

.relative {
  position: relative;
}

.bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
}
.bars span {
  width: 100%;
  height: 4px;
  display: block;
  background-color: #32C0CC;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bars span:not(:last-child) {
  margin-bottom: 5px;
}
.bars.bar-active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 1px;
          transform-origin: 1px;
}
.bars.bar-active span:nth-child(2) {
  opacity: 0;
}
.bars.bar-active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 3px;
          transform-origin: 3px;
}

/* #####################################
*           HEADER STYLE
* ##################################### 
*/
.rejuve-header {
  padding: 22px 0;
  position: fixed;
  z-index: 1024;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rejuve-header .header-menu-wrap .main-header-menu li {
  list-style: none;
}
.rejuve-header .header-menu-wrap .main-header-menu li a {
  font-size: 16px;
  line-height: 24px;
  color: #282D41;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rejuve-header .header-menu-wrap .main-header-menu li a:hover, .rejuve-header .header-menu-wrap .main-header-menu li a:focus {
  color: #32C0CC;
}
.rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li a {
  color: #32C0CC;
  font-weight: 600;
}
.rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li.book-now a {
  background-color: #32C0CC;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li.book-now a:hover, .rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li.book-now a:focus {
  background-color: #282D41;
}
.rejuve-header .header-menu-wrap .main-header-menu.header-right-menu li:not(:last-child) {
  margin-right: 20px;
}
.rejuve-header.sticky {
  -webkit-box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.2);
}